/* ---- reset ---- */

html {
  box-sizing: border-box;
} 

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
  width: 95%;
  margin: 15px auto;
}

p {
  margin: 0;
}

/* ---- general ---- */

.section-style {
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 1em;
}

/* ---- nav ---- */

.home-link {
 width: 100%;
 height: 50px;
 border-bottom: 1px solid darkgray;
}

.home-link a{
  float: left;
  width: 30%;
  font-size: 2em;
  color: #211C2A;
  text-decoration: none;
 }

.home-link a img {
  width: 40px;
  vertical-align: middle;
}

.home-link ul {
  float: right;
  width: 70%;
  line-height: 50px;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  right: 0;
}

.home-link ul li{
  float: right;
  padding: 0 5px;
  font-size: 1em;
  list-style-type: none;
  text-decoration: underline;
}

/* ---- nav ---- */

/* ---- Profile section ---- */

.profile-section {
  border: 1px solid #24212B;
  border-color: lightgray;
  margin-top: 20px;
  display: flow-root;
}

.profile-section article:first-child {
  border-right: 1px solid #24212B;
  width: 45%;
  float: left;
}

.profile-section article:first-child img {
  width: 250px;
  float: left;
  margin: 0 10px;
}

.profile-section article:first-child h2, .profile-section article:last-child h2{
  font-size: 2em;
  letter-spacing: 0.1em;
  color: #1D1E3D;
 }

.profile-section article:first-child h2 p {
 float: left;
}

.profile-section article:last-child {
  width: 55%;
  float: left;
  padding-left: 40px;
}

.profile-section article:last-child ul {
  width: 100%;
  display: flow-root;
}

.profile-section article:last-child ul li {
  float: left;
  width: 30%;
  text-align: center;
  list-style-type: none;
}

.profile-section article:last-child ul li img {
  width: 100px;
  margin-top: 20px;
}